@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
body {
    padding: 0px;
    margin: 0px;
}


/* navigtion bar styling */

.main_nav {
    padding: 10px;
    background: whitesmoke;
}

.navy_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat;
}

.nav_name {
    margin-right: 30px;
}

li {
    display: inline-block;
    margin-left: 30px;
}


/* article styling  */

.main_about {
    margin: auto;
}

.abt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image1 {
    background-image: url('images/Olumidey\ -\ Ori.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 0px 30px;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.image2 {
    background-image: url('images/GMG\ -\ Till\ the\ end\ of\ time.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 20px 0px 30px;
    width: 300px;
    height: 300px;
}


/* form styling */

.user_feed {
    margin: auto;
}

.word {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.user_form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=submit] {
    background-color: black;
    color: white;
}

.footer {
    margin: auto;
}

.foot {
    justify-content: center;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}

.image1:hover {
    box-shadow: black 1px 1px 5px;
    animation-name: rot;
    animation-duration: 8s;
}

@keyframes rot {
    /* from{opacity: 0.0;}
  to{opacity: 1;} */
    0% {
        transform: rotate(90deg);
    }
    10% {
        opacity: 0.1;
    }
    30% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
        background: blue;
    }
    70% {
        opacity: 0.7;
        background: red;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.title:hover {
    border: cyan;
    background-color: cyan;
}

.image2:hover {
    animation-name: anim;
    animation-duration: 8s;
}

@keyframes anim {
    0% {
        transform: rotate(90deg);
        background: red;
    }
    10% {
        opacity: 0.1;
        background: orange;
    }
    20% {
        opacity: 0.2;
        background: yellow;
    }
    30% {
        opacity: 0.3;
        background: green;
    }
    40% {
        opacity: 0.4;
        background: blue;
    }
    50% {
        opacity: 0.5;
        background: indigo;
    }
    60% {
        opacity: 0.7;
        background: violet;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1.0;
    }
}

.home:active {
    background-color: white;
    color: black;
}